.form-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

input {
  border-radius: 10px;
  padding: 10px;
  border: 2px solid rgb(67, 133, 233, 0.296);
}

#add-button {
  width: 50px;
}

.add-book-btn {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 8px;

}

h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10%;
}

.lib-catalogue {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(67, 133, 233, 0.296);
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
}

.single-book {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.title,
.author {
  font-size: 16px;
}

.single-book:nth-child(odd) {
  background: #abecd492;
  border-radius: 4px;
}

.author-name {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.btn-remove {
  color: white;
  background-color: rgba(170, 0, 255, 0.089);
  outline: none;
  border: none;
  border-radius: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.form-input input {
  border: 2px solid black;
  height: 20px;
}

.form-input button {
  display: flex;
  align-self: flex-end;
}

.container h1 {
  text-align: center;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  margin: 4%;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: 2.5px solid rgba(67, 183, 233, 0.296);
  box-shadow: 3px 3px rgba(91, 208, 212, 0.19);
  border-radius: 10px;
}

.logo {
  width: 120px;
  height: auto;
  margin-left: 16px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-right: 16px;
}

.nav-list {
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.nav-link {
  border-right: rgba(67, 183, 233, 0.575);
  padding: 0 10px;
}

.nav-link a {
  color: rgb(75, 69, 69);
  text-decoration: none;
}

.nav-link a:hover {
  color: rgba(11, 201, 248, 0.181);
}

.copyright {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 92%;
  margin: 2% 4%;
  border: rgba(67, 233, 230, 0.37);
  position: absolute;
  bottom: 0;
  box-shadow: 3px 3px rgba(91, 212, 198, 0.125);
  border-radius: 10px;
}

.footer-p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-right: 5%;
}

img {
  max-width: 80px;
}

.contact {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-list {
  padding-right: 2%;
  border: 2px solid black;
  box-shadow: 2px 3px rgba(91, 202, 212, 0.09);
  border-radius: 10px;
}

.date-time {
  position: absolute;
  top: 7.5rem;
  right: 3.2rem;
  font-size: 16px;
  font-weight: 700;
}